<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asim.amr">
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- add mobile vision dependency-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name="com.example.asim.amr.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.asim.amr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.asim.amr.issuance"
            android:label="Issuance"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.receiving"
            android:label="Receiving"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.pos"
            android:label="POS"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.authorization"
            android:label="Authorization"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.login"
            android:label="Login"

            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.example.asim.amr.cutting_issuance_sizes"
            android:label="@string/title_cutting_issuance"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.cutting_list"
            android:label="Cutting List"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.receiving_list"
            android:label="Receiving List"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.issuance_list"
            android:label="Issuance List"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.news_bulletin"
            android:label="News"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.news_bulletin_detail"
            android:label="News"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.add_remarks"
            android:label="Remarks"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.check_once"
            android:label="Check Once"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.crm"
            android:label="CRM"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.quotation"
            android:label="QUOTATION"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.daily_tasks"
            android:label="Daily Tasks"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.daily_tasks_detail"
            android:label="Daily Tasks"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.asim.amr.tasks"
            android:label="Tasks"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.asim.amr.view_slip"
            android:label="View Slip"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.asim.amr.sql_settings"
            android:label="SQL Settings"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.example.asim.amr.ScanBarcode"
            android:label="Scan Barcode" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

</manifest>